
{% extends "layout.html" %}
{% block body %}


<h3>Hakkımda</h3>
<hr>
İzmit'te ikamet eden bir bilgisayar programlama mezunu olarak, Bilgisayar Programlama alanındaki tutkumu ve sürekli öğrenme isteğimi benimsemekteyim. Eğitim hayatımı Balıkesir Gönen Üniversitesi'nde aldığım bilgisayar programlama eğitimiyle şekillendirdim. Bu eğitim süreci, teknik becerilerimi geliştirmek ve yazılım temel prensiplerini öğrenmek için güçlü bir temel oluşturdu.
<br>
<br>
Şu an, kariyerimdeki geleceği şekillendirmek amacıyla Udemy, BTK, Patika ve benzeri eğitim platformlarından alınan eğitimlere odaklanıyorum.
<br>
Özellikle back-end web geliştirme ve oyun geliştirme konularına yoğunlaşmış durumdayım.
<hr>
<div>
<p>Makale Tarihi 04/12/2023</p>
</div>
{% endblock body %}
